<h1>Hello <%= @partner.name %>,</h1>
    <p>We are reaching out to let you know your loved one, <%= @user.name %>, has decided to join us here at Good Work. You should know they find you speciail enough to have selected you as thei accountability partner. <p>
    <br>
    <p>We will be sending you updates as they move closer to completing their goals. <p>
    <br>
    <p>If you don't here from us for a while, maybe consider reaching out. They might need a hand.</p>
    <br>
    <p>Thanks for joining us all in this journey</p>
    <br>
    <p>Wishing You All of the Best,</p>
    <p>Brian DiRito (Founder)</p>
