<h1> Congrats <%= @user.name %>! </h1>
<p>You just completed <%= @list_name %>, which makes you one step closer to completing <%= @goal_name %>. Be proud of yourself. You're doing well!<p>
<br>
<p>Wishing You All of the Best,</p>
<p>Brian DiRito (Founder)</p>