<h1> Hello <%= @partner.name %>! </h1>
<p>We just wanted to let you know, <%= @user.name %> completed "<%= @list_name %>". Let them know how great they are! </p>
<br>
<p>Wishing You All of the Best,</p>
<p>Brian DiRito (Founder)</p>