<h1> Wow <%= @partner.name %>! </h1>
<p> <%= @user.name %> just reached their goal, <%= @goal_name %>! They've put the work in, and they did it. I hope you feel happy for them and I hope you consider continuing to work with them on their next goals. Just remember, whatever you may need, we're here for you. </p>
<br>
<p>Wishing You an Endless Amount of Success,</p>
<p>Brian DiRito (Founder)</p>